<div class="text-editor-page container-fluid clearfix">
  <div id="editor">
    <div id="toolbar">
        <span class="ql-formats">
            <select class="ql-font" data-toggle="tooltip" data-placement="bottom"
                    title="Font">
                <option value="cursive">Apple Chancery</option>
                <option value="serif" selected>Times New Roman</option>
                <option >Arial</option>
                <option value="monospace">Courier New</option>
            </select>
            <select class="ql-size" data-toggle="tooltip" data-placement="bottom"
                    title="Size">
                <option value="32px">Heading</option>
                <option value="18px">Sub-heading</option>
                <option selected>Normal</option>
                <option value="10px">Small</option>
            </select>
            <button class="ql-bold" data-toggle="tooltip" data-placement="bottom"
                    title="Bold"></button>
            <button class="ql-italic" data-toggle="tooltip" data-placement="bottom"
                    title="Bold"></button>
            <button class="ql-underline" data-toggle="tooltip" data-placement="bottom"
                    title="Underline"></button>
            <button class="ql-strike" data-toggle="tooltip" data-placement="bottom"
                    title="Strike through"></button>
            <select class="ql-color" data-toggle="tooltip" data-placement="bottom"
                    title="Text color">
                <option selected></option>
                <option value="white"></option>
                <option value="red"></option>
                <option value="orange"></option>
                <option value="yellow"></option>
                <option value="green"></option>
                <option value="blue"></option>
            </select>
            <select class="ql-background" data-toggle="tooltip" data-placement="bottom"
                    title="Text background">
                <option selected></option>
                <option value="lightgray"></option>
                <option value="red"></option>
                <option value="orange"></option>
                <option value="yellow"></option>
                <option value="lawngreen"></option>
                <option value="cyan"></option>
            </select>
            <button class="ql-list" value="ordered" data-toggle="tooltip" data-placement="bottom"
                    title="Order list"></button>
            <button class="ql-list" value="bullet" data-toggle="tooltip" data-placement="bottom"
                    title="Bullet list"></button>
            <select class="ql-align" data-toggle="tooltip" data-placement="bottom"
                    title="Text alignment" [value]="[]"></select>
            <button class="ql-link" data-toggle="tooltip" data-placement="bottom"
                    title="Link"></button>
            <button class="ql-image" data-toggle="tooltip" data-placement="bottom"
                    title="Image"></button>
        </span>
    </div>
    <div id="editor-container"></div>
  </div>
  <div class="mt-3 mb-3 text-center">
    <button class="btn btn-primary" (click)="copyDelta()">Copy Delta</button>
  </div>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <div #outputEditorText></div>
    </div>
  </div>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <div #outputRawEditorText></div>
    </div>
  </div>
</div>
