<footer id="footer" class="footer-section">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-sm-0">
        <a class="footer-logo ml-md-3"  href="/">
          <img id="cerana-farms-footer-logo" alt="Cerana Farms Inc. Logo"
               width="90" src="../assets/images/cerana-farms-logo.png"/>
          <img id="cerana-farms-footer-text" alt="Cerana Farms Inc. Text"
               style="margin-left: 20px;"
               width="120" src="../assets/images/cerana-farms-text.png"/>
        </a>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="social-media mt-3 ml-md-4 ml-sm-2">
          <h6>Social Media Links:</h6>
          <a href="https://www.facebook.com/CeranaFarms" target="_blank"><ion-icon name="logo-facebook" style="color: #4267b2"></ion-icon></a>
<!--          <a href="https://twitter.com/CeranaFarms" target="_blank"><ion-icon name="logo-twitter" style="color: #1da1f2"></ion-icon></a>-->
          <a href="https://www.linkedin.com/company/ceranafarms" target="_blank"><ion-icon name="logo-linkedin" style="color: #0077b5"></ion-icon></a>
          <a href="https://www.youtube.com/channel/UCNr_0uvcTfAtq_IZQEqACjA" target="_blank"><ion-icon name="logo-youtube" style="color: #fe0100"></ion-icon></a>
        </div>
      </div>
      <div class="footer-links col-md-2 mb-md-0 mb-2">
        <h6>Links</h6>
        <ul class="list-unstyled">
          <li *ngFor="let menu of footerMenu">
            <a *ngIf="menu.link && menu.text" [routerLink]="menu.link">{{menu.text}}</a>
          </li>
        </ul>
      </div>
      <div class="footer-links col-md-3 mb-md-0 mb-3">
        <h6>Business Hours:</h6>
        <ul class="list-unstyled">
          <li *ngFor="let businessTime of businessTimes; let i = index;">
            <span *ngIf="businessTime.day">{{businessTime.day}}: &nbsp;</span>
            <span *ngIf="businessTime.time.from && businessTime.time.to">
              {{businessTime.time.from}} - {{businessTime.time.to}}
            </span>
            <span *ngIf="!businessTime.time.from && !businessTime.time.to"> CLOSED </span>
          </li>
        </ul>
      </div>
      <div class="footer-contact-info col-md-3 mb-md-0 mb-3">
        <h6>Contact Information:</h6>
        <ul class="list-unstyled" *ngIf="contactInformation">
          <li>
            <a *ngIf="contactInformation.mapLocation" [href]="contactInformation.mapLocation" target="_blank">
              <span *ngIf="contactInformation.address1">{{contactInformation.address1}}</span>
              <br/>
              <span *ngIf="contactInformation.address2">{{contactInformation.address2}}</span>
              <br/>
              <span *ngIf="contactInformation.country">{{contactInformation.country}}</span>
            </a>
          </li>
          <li>
            <a *ngIf="contactInformation.email" [href]="'mailto:' + contactInformation.email">
              {{contactInformation.email}}
            </a>
          </li>
          <li>
            <a *ngIf="contactInformation.mobile" [href]="'tel:'+contactInformation.mobile">
              {{contactInformation.mobile}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright: Cerana Farms Inc.
<!--    | <a routerLink="/privacy-policy">Privacy Policy</a>-->
<!--    | <a routerLink="/terms-of-use">Terms of Use</a>-->
  </div>
</footer>
