.footer-section {
  background: antiquewhite;
  h6 {
    font-family: "Apple Chancery", cursive;
  }
  .row {
    padding-top: 20px;
  }
  .footer-copyright {
    font-size: 10px;
    a {
      color: black;
      text-decoration: underline;
    }
  }
  .footer-links,
  .footer-contact-info {
    a, span {
      color: rgba(0,0,0,.6);
      font-family: Times, "Times New Roman", serif;
      font-size: 12px;
    }
  }
  .social-media {
    a {
      margin-right: 10px;
    }
    ion-icon {
      font-size: 24px;
    }
  }
}
