<div class="about-us-page container-fluid clearfix">
  <div class="about-us-header">
    <hr />
    <h2 class="text-center"> {{aboutUs.title}}</h2>
    <hr />
  </div>
  <div #aboutUsSummary class="summary">
  </div>
  <div class="who-we-are container">
    <div>
      <hr />
      <h3 class="text-center ">{{aboutUsWhoWeAre.title}}</h3>
      <hr />
    </div>
    <div #aboutUsWhoWeAreSummary class="summary" [hidden]="aboutUsWhoWeAre.summary">
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-3" *ngFor="let wwa of aboutUsWhoWeAre.body">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="who-we-are" style="height: 250px;width: 200px;"
                 [src]="imageSrc + wwa.fileName" [alt]="wwa.altText">
          </div>
          <div class="col-md-7 col-sm-12">
            <h5 class="wwa-name">{{wwa.name}}</h5>
            <h6 class="wwa-position">{{wwa.position}}</h6>
            <p class="wwa-summary">{{wwa.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="our-farmers" [hidden]="aboutUsOurFarmers.summary">
    <div>
      <hr />
      <h3 class="text-center ">{{aboutUsOurFarmers.title}}</h3>
      <hr />
    </div>
    <div #aboutUsOurFarmersSummary class="summary">
    </div>
  </div>
  <div class="vision-mission" [hidden]="aboutUsVisionMission.summary">
    <div>
      <hr />
      <h3 class="text-center ">{{aboutUsVisionMission.title}}</h3>
      <hr />
    </div>
    <div #aboutUsVisionMissionSummary class="summary">
    </div>
  </div>
</div>
