.header-section {
  .bg-light {
    background: antiquewhite !important;
  }
  .navbar {
    @media (max-width: 767px) {
      padding: .5rem 2rem;
    }

    @media (min-width: 768px) {
      padding: .5rem 3rem;
    }

    .nav-item{
      padding: 10px;
      margin-left: 10px;
      font-size: 20px;
      text-decoration: underline;
      a {
        font-family: "Apple Chancery", cursive;
      }
      .nav-link {
        color: rgba(0,0,0,.65);
      }
    }
  }
}
