<div id="header" class="header-section">
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
    <a class="navbar-brand" href="/">
      <img id="cerana-farms-logo" alt="Cerana Farms Inc. Logo"
           width="90" src="../assets/images/cerana-farms-logo.png"/>
      <img id="cerana-farms-text" class="ml-3" alt="Cerana Farms Inc. Text"
           width="120" src="../assets/images/cerana-farms-text.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngFor="let menu of headerMenu">
          <a class="nav-link" [routerLink]="menu.link">{{menu.text}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
