<div class="home-page container-fluid clearfix">
  <div class="welcome-header">
    <hr />
    <h2 class="text-center ">Coming Soon on Cerana Farms Website</h2>
    <hr />
  </div>
  <div class="summary">
    <div #comingSoon></div>
  </div>
</div>
