/* You can add global styles to this file, and also import other style files */
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1, h2, h3 {
  font-family: "Apple Chancery", cursive;
}
body, p {
  font-family: Times, "Times New Roman", serif;
}

hr {
  height: 1px !important;
}

#editor-container {
  height: 300px;
}

.ql-toolbar button {
  &.btn-revert {
    background: lightgray;
    width: 100%;
    font-size: 12px;
    border-radius: 2px;
  }
}
.ql-snow .ql-font .ql-picker-item[data-value='cursive']::before,
.ql-font-cursive {
  font-family: 'Apple Chancery', cursive;
}

.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 1em;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 1em;
}
.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 1.5em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 2em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 2.5em;
}
.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 2em;
}
.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 2.5em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 3.5em;
}
.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 3.5em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 4em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 4em;
}
.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5.5em;
}
.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 5em;
}
.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 5.5em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 6.5em;
}
.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 6.5em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 7em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 7em;
}
.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 8em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 8.5em;
}
.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 8em;
}
.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 8.5em;
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 9.5em;
}
.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 9.5em;
}
.ql-editor .ql-color-lightgray {
  color: #d3d3d3;
}
.ql-editor .ql-bg-lightgray {
  background: #d3d3d3;
}
.ql-editor .ql-color-cyan {
  color: #00ffff;
}
.ql-editor .ql-bg-cyan {
  background: #00ffff;
}
.ql-editor .ql-color-lawngreen {
  color: #7cfc00;
}
.ql-editor .ql-bg-lawngreen {
  background: #7cfc00;
}
.ql-snow .ql-picker.ql-font {
  width: 150px!important;
}

.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
