<div class="contact-us-page container-fluid clearfix">
  <div class="contact-us-header">
    <hr />
    <h2 class="text-center">Contact Us</h2>
    <hr />
  </div>
  <div class="contact-us-body container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div #mapContainer id="map"></div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="contact-number mt-2">
          <h5>Contact numbers:</h5>
          <span class="text-left" *ngFor="let contact of contactUs.contactNumbers">
            <span>{{contact.name}}: <a [href]="'tel:' + contact.number">{{contact.number}}</a></span>
            <br/>
          </span>
          <span class="text-left" *ngFor="let email of contactUs.emails">
            <span>Email us: <a [href]="'mailto:' + email">{{email}}</a></span>
            <br/>
          </span>
        </div>
        <div class="farm-address">
          <div *ngFor="let farm of contactUs.farms">
            <h5>Cerana Farms Botolan:</h5>
            <span class="text-left">
            <a href="{{farm.link}}" target="_blank">
              {{farm.address1}}
              <br/> {{farm.address2}}
              <br/> {{farm.country}}
            </a>
          </span>
          </div>
        </div>
        <div>
          <h6>Book us a visit via our <a [href]="contactUs.facebookLink" target="_blank">Facebook</a> page.</h6>
        </div>
      </div>
    </div>
  </div>
</div>
