.contact-us-page {
  .contact-us-header {
    hr {
      width: 50%;
    }
  }
  #map {
    height: 400px;
    width: 100%;
  }
  h5, h6 {
    font-family: "Apple Chancery", cursive;
    margin-top: .5rem;
    a {
      color: black;
      font-family: "Apple Chancery", cursive;
      text-decoration: underline;
    }
  }
  .contact-number,
  .farm-address {
   span {
      text-align: left;
      font-family: Times, "Times New Roman", serif;
    }
    a {
      color: black;
    }
  }
}
