.page-not-found {
  margin-top: 20px;
  .card {
    margin: auto;
    width: auto;
    height: calc(50vh);
    color: white;

    h1 {
      font-family: "Apple Chancery", cursive;
    }

    h4 {
      font-family: Times, "Times New Roman", serif;
    }
    @media (max-width: 767px) {
      .card-img-overlay {
        width: 90%;
        margin: 10% 5%;
        background: rgb(0,0,0,0.3);
        border-radius: 25px;
      }
    }

    @media (min-width: 768px) {
      .card-img-overlay {
        width: 50%;
        margin: 5% 25%;
        background: rgb(0,0,0,0.3);
        border-radius: 25px;
      }
    }

    .card-img {
      height: 100%;
    }
    .card-title {
      padding-top: 10px;
    }
  }
}
