<div class="page-not-found">
  <div class="container-fluid">
    <div class="card">
      <img class="card-img" src="../assets/images/page-not-found.jpg"/>
      <div class="card-img-overlay text-center">
        <h2 class="card-title">Sorry!</h2>
        <h6 class="card-text">It seems the page you are looking for has been removed or could not be found.</h6>
        <br />
        <button type="button" class="btn btn-warning" (click)="goToHomePage()">Back Home</button>
      </div>
    </div>
  </div>
</div>
