.home-page {
  .cover-image {
    margin-top: 20px;
  }

  .summary {
    @media (max-width: 767px) {
      margin-bottom: -85px;
    }
  }

  .farms,
  .products {
    font-family: "Apple Chancery", cursive;
    text-align: center;
    hr {
      width: 50%;
    }
  }

  .products {
    .card {
      height: 300px;
      background: cornsilk;
    }
  }

  .farms-summary {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 15px 15px;
    width: 50%;
    color: white;

  }

  .farms-cover-photo {
    background-size: cover;
    height: 500px;
  }
}
