<div class="home-page container-fluid clearfix">
  <div class="cover-image">
    <img style="height: 350px;width: 100%;"
         [src]="coverPhotoSrc"
         [alt]="homeWelcome.coverPhoto.altText">
  </div>
  <div class="welcome-header">
    <hr/>
    <h2 class="text-center ">{{homeWelcome.title}}</h2>
    <hr/>
  </div>
  <div class="summary" #homeWelcomeSummary>

  </div>
  <div class="text-center video-iframe">
    <iframe #fbIframe
            *ngIf="homeVideoSrc"
            [src]="homeVideoSrc"
            [width]="fbWidth" [height]="fbHeight"
            style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
  </div>
  <div class="products">
    <hr/>
    <h3>{{homeProducts.title}}</h3>
    <hr/>
    <div #homeProductsSummary></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12" *ngFor="let brand of homeProducts.brands;">
          <div class="card">
            <div style="margin: auto 20%">
              <img class="card-img-top" style="height: 160px; width: 160px;"
                   [src]="imageSrc + brand.fileName" [alt]="brand.altText">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{brand.title}}</h5>
              <p class="card-text">{{brand.summary}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="farms">
    <hr/>
    <h3>{{homeFarms.title}}</h3>
    <hr/>
    <div #homeFarmsSummary></div>
    <div>
      <div class="jumbotron text-left farms-cover-photo" *ngFor="let farm of homeFarms.farms; let i = index;"
           [ngStyle]="{'background-image': 'url(' + imageSrc + farm.fileName + ')'}">
        <div class="farms-summary">
          <h3>{{farm.title}}</h3>
          <div #homeFarmSummaries id="homeFarmSummary{{i}}">{{farm.summary}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
