<div class="gallery-page clearfix">
  <div class="cover-image">
    <!--    <img style="height: 350px;width: 100%;" src="../assets/images/cover-photo2.png">-->
  </div>
  <div class="gallery-header">
    <hr/>
    <h2 class="text-center ">Cerana Farms Gallery</h2>
    <hr/>
  </div>
  <div class="photos">
    <div class="text-center">
      <hr/>
      <h3>Photos</h3>
      <hr/>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12 mt-3" *ngFor="let photo of photos">
        <img [alt]="photo.altText" [src]="gallerySrc + photo.fileName">
      </div>
    </div>
  </div>
  <div class="videos">
    <div class="text-center">
      <hr/>
      <h3>Facebook Video Posts</h3>
      <hr/>
    </div>
    <div class="row" *ngIf="!isDesktop">
      <div class="col-sm-12 col-md-4" *ngFor="let facebookVideo of facebookVideosSrc; let i = index;">
        <div class="fb-wrapper">
          <iframe [src]="facebookVideo"
                  [width]="fbWidth" [height]="fbHeight"
                  style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                  allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isDesktop">
      <div class="col-sm-12 col-md-4" *ngFor="let facebookVideo of facebookVideos; let i = index;">
        <div class="fb-video"
             attr.data-href="https://www.facebook.com/{{facebookVideo.link}}"
             data-width="500" data-show-text="true">
          <blockquote attr.cite="https://www.facebook.com/{{facebookVideo.link}}"
                      class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/{{facebookVideo.link}}" target="_blank">{{facebookVideo.title}}</a>
            <p>
              <span>({{facebookVideo.date}})</span>
              <br/>
              <span>{{facebookVideo.summary}}</span>
            </p>
            Posted by <a href="https://www.facebook.com/{{facebookVideo.pageAccount}}/"
                         target="_blank">{{facebookVideo.postedBy}}</a> on {{facebookVideo.fullDate}}
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
