.gallery-page {
  h3 {
    font-family: "Apple Chancery", cursive;
  }
  .videos,
  .photos {
    hr {
      width: 50%;
    }
    img {
      height: 200px;
      width: 100%;
    }
  }

  .fb-wrapper {
    height: 250px;
  }
}
