<div>
  <app-header></app-header>
  <main class="main">
    <div class="wrapper">
      <app-advisory></app-advisory>
      <router-outlet></router-outlet>
      <div [hidden]="true">
        <div id="quill-editor"></div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
